$main-dark-color: #1d1e21;
$main-color: #59b17a;
$main-color2: #59b17a1a;
$main-color3: #e850501a;
$main-color4: #e7f1ed;
$main-color5: #dcdddf;
$main-color6: #f7f8fa;
$main-color7: #f9f9f9;
$main-color8: #ffffff;

$hover-color: #3f945f;
$disable-color: #1d1e211a;

$completed-txt-color: #59b17a;
$completed-bg-color: #59b17a1a;
$confirmed-txt-color: #8059e4;
$confirmed-bg-color: #8059e41a;
$pending-txt-color: #f79042;
$pending-bg-color: #f790421a;
$cancelled-txt-color: #e85050;
$cancelled-bg-color: #e850501a;
$processing-txt-color: #70a6e8;
$processing-bg-color: #70a6e81a;
