$_main_dark_color: #1d1e21;
$_main_color: #59b17a;
$_main_color2: #59b17a1a;
$_main_color3: #e850501a;
$_main_color4: #e7f1ed;
$_main_color5: #dcdddf;
$_main_color6: #f7f8fa;
$_main_color7: #f9f9f9;
$_main_color8: #ffffff;

$_hover_color: #3f945f;
$_disable_color: #1d1e211a;

$_completed_txt_color: #59b17a;
$_completed_bg_color: #59b17a1a;
$_confirmed_txt_color: #8059e4;
$_confirmed_bg_color: #8059e41a;
$_pending_txt_color: #f79042;
$_pending_bg_color: #f790421a;
$_cancelled_txt_color: #e85050;
$_cancelled_bg_color: #e850501a;
$_processing_txt_color: #70a6e8;
$_processing_bg_color: #70a6e81a;
