.productsWrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 40px;

  @include media('tablet') {
    margin-top: 50px;
  }

  @include media('desktop') {
    margin-top: 75px;
  }
}
.pageActions {
  @include media('tablet') {
    display: flex;
    justify-content: space-between;
  }
}
.sliderTables {
  width: 100%;
  height: 100%;
}
