.suppliersWrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.sliderTables {
  width: 335px;
  height: calc(100% - 120px);
}

:global(.swiper-pagination-bullet-active) {
  width: 12px !important;
  height: 12px !important;
  background: $main-color !important;
}
:global(.swiper-pagination-bullet) {
  width: 12px !important;
  height: 12px !important;
}
// :global(.swiper-pagination-bullets) {
//   bottom: 15% !important;
// }
