.logo {
  width: 44px;
  height: 44px;
  @include media('desktop') {
    position: absolute;
    left: 20px;
  }
}
.imgWidthFull {
  width: 32px;
  height: 32px;

  @include media('tablet') {
    width: 40px;
    height: 40px;
  }
}
