.actionGroup {
  display: flex;
  gap: 8px;
}
.active,
.deactive {
  display: block;
  width: 80px;
  text-align: center;
  padding: 4px 0;
  border-radius: 40px;
}
.active {
  background-color: rgba($completed-txt-color, 0.1);
  color: $completed-txt-color;
}
.deactive {
  background-color: rgba($cancelled-txt-color, 0.1);
  color: $cancelled-txt-color;
}
