.formTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 20px;

  @include media('tablet') {
    font-size: 24px;
    margin-bottom: 40px;
  }
}
.formWrap {
  display: flex;
  flex-direction: column;
  gap: 14px;

  @include media('tablet') {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 14px 8px;
  }
}
.formWrap label,
.catsWrap,
.dateBox {
  @include media('tablet') {
    width: calc(50% - 4px);
  }
}
.catTitleDisabled {
  color: #1d1e2166;
}
.filterList {
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid $disable-color;
  border-radius: 60px;
  padding: 13px 18px;
  font-size: 12px;
  color: $main-dark-color;
  transition: 0.3s;
}
.filterList:hover {
  cursor: pointer;
}
.filterItemWrap {
  position: relative;
}
.dateInput {
  position: relative;
}
.dateInput svg {
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%);
  color: $main-color;
}
.error {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
  color: $cancelled-txt-color;
  margin-top: 5px;
  margin-left: 19px;
}
