.tableUser {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  align-items: center;
}
.tableAvatar {
  @include media('tablet') {
    width: 36px;
    height: 36px;
  }
}
.tableUser span {
  @include media('tablet') {
    word-break: break-word;
    max-width: 70%;
  }
}
