.tableUser {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  align-items: center;

  @include media('tablet') {
    min-width: 200px;
    padding: 1px 0;
  }
}
.tableAvatar {
  @include media('tablet') {
    width: 36px;
    height: 36px;
  }
}
.tableUser span {
  @include media('tablet') {
    word-break: break-word;
    max-width: 70%;
  }
}
