.ordersWrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 40px;

  @include media('desktop') {
    margin-top: 75px;
  }
}

.sliderTables {
  width: 335px;
  min-height: calc(100% - 55px);

  @include media('tablet') {
    width: 100%;
  }
}
