.tableWrap {
  max-width: 335px;
  margin-top: 20px;
  border-radius: 8px;
  border: 1px solid #1d1e211a;
}
:global(.simplebar-track.simplebar-horizontal) {
  background: #f1f1f1;
  position: fixed;
  pointer-events: auto;
}
:global(.simplebar-scrollbar:before) {
  background: #e6e6e6 !important;
  opacity: 1 !important;
}
.tableTitle {
  width: 305px;
  padding: 14px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  vertical-align: middle;
  background-color: $main-color4;
  position: absolute;
  border-radius: 8px 8px 0 0;
}
.tableWrap table {
  width: 671px;
  margin-top: 48px;
  padding: 0 14px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  vertical-align: middle;
  color: $main-dark-color;
}
.tableWrap .tableUser {
  width: 114px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.tableWrap th,
.tableWrap td {
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  vertical-align: middle;
  padding: 14px 0;
  border-right: 1px solid #1d1e211a;
  border-bottom: 1px solid #1d1e211a;
}
.tableWrap th {
  color: #1d1e2166;
}
.tableWrap td {
  height: 46px;
  color: $main-dark-color;
}
.tableWrap td:not(:last-child) {
  padding-right: 8px;
}
.tableWrap th:not(:first-child),
.tableWrap td:not(:first-child) {
  padding-left: 10px;
}
.tableWrap th:last-child,
.tableWrap td:last-child {
  border-right: none;
}
.tableWrap tr:last-child td {
  border-bottom: none;
}
.actionGroup {
  display: flex;
  gap: 8px;
}
.active,
.deactive {
  display: block;
  width: 80px;
  text-align: center;
  padding: 4px 0;
  border-radius: 40px;
}
.active {
  background-color: rgba($completed-txt-color, 0.1);
  color: $completed-txt-color;
}
.deactive {
  background-color: rgba($cancelled-txt-color, 0.1);
  color: $cancelled-txt-color;
}
