.wrapper {
  width: 100%;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100% - 79px);

  @include media('desktop') {
    justify-content: flex-start;
  }
}
