.menuIcon {
  width: 32px;
  height: 32px;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  color: $main-dark-color;
}

.menuWrap {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 78px;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $main-color6;
  transition: 0.5s ease-in-out;
  overflow: hidden;
  z-index: 9999;

  @include media('desktop') {
    padding-top: 0;
    top: 79px;
    border-right: 1px solid rgba(29, 30, 33, 0.1019607843);
    border-top: 1px solid rgba(29, 30, 33, 0.1019607843);
  }
}

.headWrap {
  display: flex;
  justify-content: space-between;
}

.close {
  width: 38px;
  padding: 0;
  border: none;
  background: none;
  color: $main-dark-color;
}

.close svg {
  width: 32px;
  height: 32px;
}
.maskBg {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  background: #00000078;
  transition: all 0.3s ease;
  pointer-events: none;
  z-index: 10;
}
.maskBgOpen {
  opacity: 1;
}
