.tableWrap {
  max-width: 100%;
  margin-top: 20px;
  border-radius: 8px;
  border: 1px solid #1d1e211a;
  margin-bottom: 50px;
}
:global(.simplebar-track.simplebar-horizontal) {
  background: #f1f1f1;
  position: fixed;
  pointer-events: auto;
  border-radius: 10px;
}
:global(.simplebar-scrollbar:before) {
  background: #e6e6e6 !important;
  opacity: 1 !important;
}
.scrollPosition :global(.simplebar-track.simplebar-horizontal) {
  position: absolute;
  bottom: -35px;
}
.tableTitle {
  max-width: 100%;
  padding: 14px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  vertical-align: middle;
  background-color: $main-color4;
  border-radius: 8px 8px 0 0;

  @include media('tablet') {
    font-size: 18px;
  }
}
.tableWrap table {
  width: 100%;
  min-width: 671px;
  padding: 0 14px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  vertical-align: middle;
  color: $main-dark-color;
}
.tableWrap .tableUser {
  width: 114px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.tableWrap th,
.tableWrap td {
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  vertical-align: middle;
  padding: 14px 0;
  border-right: 1px solid #1d1e211a;
  border-bottom: 1px solid #1d1e211a;

  @include media('tablet') {
    font-size: 14px;
  }
}
.tableNoRightBorder table {
  width: fit-content;
  min-width: auto;

  @include media('tablet') {
    width: 100%;
  }
}
.tableNoRightBorder th,
.tableNoRightBorder td {
  border-right: none;
}
.tableWrap th {
  color: #1d1e2166;
}
.tableWrap td {
  height: 46px;
  color: $main-dark-color;
}
.tableWrap td:not(:last-child) {
  padding-right: 8px;
}
.tableWrap th:not(:first-child),
.tableWrap td:not(:first-child) {
  padding-left: 10px;
}
.tableWrap th:last-child,
.tableWrap td:last-child {
  border-right: none;
}
.tableWrap tr:last-child td {
  border-bottom: none;
}
.tableWrap .email {
  word-break: break-all;
}
