.modalWrapper {
  position: relative;
  padding: 40px 20px;
  border-radius: 12px;
  width: 100%;
  max-width: 375px;
  height: fit-content;
  margin: 0 20px;
  background: #ffffff;
  animation: transitionIN 0.3s;
}

@keyframes transitionIN {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(47, 47, 47, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(2px);
}

.modalContent {
  position: relative;
  border-radius: 12px;
  width: 100%;
  margin: auto;
}

.btnClose {
  position: absolute;
  top: 14px;
  right: 14px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: 0.3s;
}

.btnClose:hover {
  transform: scale(1.1);
}

.btnClose svg {
  width: 24px;
  height: 24px;
  stroke: #1d1e21;
}

@media screen and (max-width: 374px) {
  .modalWrapper {
    width: calc(100% - 32px);
  }
}

@media screen and (min-width: 768px) {
  .modalWrapper {
    padding: 48px 64px;
    width: fit-content;
    max-width: 628px;
  }
  .btnClose {
    top: 20px;
    right: 20px;
  }
  .btnClose svg {
    width: 32px;
    height: 32px;
  }
}
