.dashWrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 20px;
}
.dashTablesBox {
  @include media('desktop') {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
}
.dashTableItem {
  width: 100%;
  @include media('desktop') {
    width: 50%;
  }
}
