.logOut {
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: $main-color;
  border-radius: 50%;
  box-shadow: 0px -1px 7px 0px #4747470d;
}
