.loginInputsBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.loginInput {
  width: 100%;
  height: 44px;
  border: 1px solid $disable-color;
  border-radius: 60px;
  padding: 13px 18px;
  color: $main-dark-color;
}

.loginInput::placeholder {
  color: #1d1e2166;
}

.loginInputError {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0px;
  color: $cancelled-txt-color;
  margin-top: 5px;
  margin-left: 19px;
}

.loginButton {
  width: 100%;
  height: 44px;
  margin-top: 40px;
  border-radius: 60px;
  color: $main-color8;
  background-color: $main-color;
}
.loginButton:disabled {
  opacity: 0.2;
  cursor: not-allowed;
  background-color: $main-dark-color;
}
