input {
  width: 100%;
  height: 44px;
  border: 1px solid $disable-color;
  border-radius: 60px;
  padding: 13px 18px;
  color: $main-dark-color;
  transition: 0.3s;
}

input::placeholder {
  color: #1d1e2166;
}
input:focus {
  outline: none;
  border: 1px solid $main-color;
}
.edit {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $main-color;
  border: 1px solid rgba($main-color, 0.5);
  background: none;
  border-radius: 30px;
}
.delete {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $cancelled-txt-color;
  border: 1px solid rgba($cancelled-txt-color, 0.5);
  background: none;
  border-radius: 30px;
}
