.bodyHeaderLine::before {
  content: '';
  position: absolute;
  top: 79px;
  left: 0;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #1d1e211a;
}
.wrapperBG::before {
  display: none;
}
.wrapperBG::after {
  content: '';
  position: fixed;
  bottom: -23%;
  right: -50%;
  width: 465px;
  height: 346px;
  background-image: image-set(
    url('/src/assets/images/bg-elem.png') 1x,
    url('/src/assets/images/bg-elem@2x.png') 2x
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 100%;
  z-index: -1;

  @include media('tablet') {
    bottom: -8%;
    right: -23%;
  }
  @include media('desktop') {
    right: -12%;
  }
}
input {
  width: 100%;
  height: 44px;
  border: 1px solid $disable-color;
  border-radius: 60px;
  padding: 13px 18px;
  color: $main-dark-color;
  transition: 0.3s;
}

input::placeholder {
  color: #1d1e2166;
}
input:focus {
  outline: none;
  border: 1px solid $main-color;
}
.edit {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $main-color;
  border: 1px solid rgba($main-color, 0.5);
  background: none;
  border-radius: 30px;
}
.delete {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $cancelled-txt-color;
  border: 1px solid rgba($cancelled-txt-color, 0.5);
  background: none;
  border-radius: 30px;
}
.errorNothingFound {
  padding: 14px;
  font-size: 16px;
  font-weight: 400;
}
.swiper-pagination-bullet-active {
  width: 12px !important;
  height: 12px !important;
  background: $main-color !important;
}
.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
}
.swiper-pagination-bullets {
  bottom: 25px !important;

  @include media('desktop') {
    bottom: 100px !important;
  }
}
