@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

#root {
  width: 100%;
  min-width: 320px;
  max-width: 375px;
  min-height: 100vh;
  display: flex;
  margin: 0 auto;

  font-family: 'Inter', Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include media('tablet') {
    max-width: 768px;
  }

  @include media('desktop') {
    max-width: 1440px;
  }
}

body {
  font-family: 'Inter', Arial, sans-serif;
  margin: 0;
  display: flex;
  background-color: $main-color6;
}
.no-scroll {
  overflow: hidden;
}
.container {
  padding: 0 20px;

  @include media('tablet') {
    padding: 0 32px;
  }

  @include media('desktop') {
    padding: 0 100px;
  }
}
