.tableUser {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;

  @include media('desktop') {
    flex-wrap: nowrap;
  }
}
.tableAvatar {
  @include media('tablet') {
    width: 36px;
    height: 36px;
  }
}
.completed,
.confirmed,
.pending,
.cancelled,
.processing,
.shipped,
.delivered {
  display: block;
  width: 80px;
  text-align: center;
  padding: 4px 0;
  border-radius: 40px;

  @include media('tablet') {
    width: 110px;
  }
}
.completed {
  background-color: rgba($completed-txt-color, 0.1);
  color: $completed-txt-color;
}
.confirmed {
  background-color: rgba($confirmed-txt-color, 0.1);
  color: $confirmed-txt-color;
}
.pending {
  background-color: rgba($pending-txt-color, 0.1);
  color: $pending-txt-color;
}
.cancelled {
  background-color: rgba($cancelled-txt-color, 0.1);
  color: $cancelled-txt-color;
}
.processing {
  background-color: rgba($processing-txt-color, 0.1);
  color: $processing-txt-color;
}
.shipped {
  background-color: rgba($shipped-txt-color, 0.1);
  color: $shipped-txt-color;
}
.delivered {
  background-color: rgba($delivered-txt-color, 0.1);
  color: $delivered-txt-color;
}
