.middleTD {
  @include media('tablet') {
    width: 370px;
  }
}
.expense,
.income,
.error {
  display: block;
  width: 80px;
  text-align: center;
  padding: 4px 0;
  border-radius: 40px;
}
.expense {
  background-color: rgba($cancelled-txt-color, 0.1);
  color: $cancelled-txt-color;
}

.income {
  background-color: rgba($completed-txt-color, 0.1);
  color: $completed-txt-color;
}
.error {
  background-color: rgba($main-dark-color, 0.1);
  color: $main-dark-color;
}
.greenAmount {
  text-align: right;
  color: $completed-txt-color;
}
.redAmount {
  text-align: right;
  color: $cancelled-txt-color;
}
.strokeAmount {
  text-align: right;
  color: $main-dark-color;
  text-decoration: line-through;
}
.tableWrap td {
  height: 61px;
}
