.signInPage {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 80px;

  @include media('desktop') {
    flex-direction: row;
    justify-content: space-between;
  }
}

.signInPage h1 {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0;

  @include media('tablet') {
    width: 85%;
    font-size: 54px;
    line-height: 60px;
  }
  @include media('desktop') {
    width: 48%;
    margin-bottom: 85px;
  }
}

.signInPage span {
  color: $main-color;
}

.pill {
  display: inline-block;
  margin-left: -5px;
  margin-bottom: -10px;
  width: 95px;
  height: 93px;

  @include media('tablet') {
    margin-left: -25px;
    margin-bottom: -20px;
    width: 179px;
    height: 175px;
  }
}
